.testimonialOne.arrow {
  position: absolute;
  z-index: 999;
  display: flex;
  gap: 35px;
  bottom: 22px;
  right: 22px;
  left: auto;
  justify-content: flex-end;
  &.rtl {
    right: -20px;
  }
  .testimonialOne-button-next,
  .testimonialOne-button-prev {
    font-size: 20px;
    cursor: pointer;
    color: var(--theme-color);
  
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s linear;
    &:hover {
      background: var(--theme-color);
      color: var(--white-color);
    }
  }
}

.rc-slider-handle {
  border: solid 2px var(--theme-color);
}

.rc-slider-track,
.rc-slider-tracks {
  background-color: var(--theme-color);
}

.bg-gray {
  background-color: #f4f4f4;
}

.custom-modal_popup {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 99999;
  transform: translate(-50%, -50%);
  background: #000000d1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .close-button {
    position: absolute;
    z-index: 999999;
    top: 30px;
    right: 30px;
    font-size: 70px;
    color: var(--theme-color);
    cursor: pointer;
  }
}

.mobile-menu-wrapper .menu-item-has-children {
  position: relative;
}

.mobile-menu-wrapper .menu-item-has-children .sub-menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.mobile-menu-wrapper .menu-item-has-children.active .sub-menu {
  max-height: 1000px;
  transition: max-height 0.8s ease-in-out;
}

.mobile-menu-wrapper .menu-item-has-children .mean-expand-class {
  position: absolute;
  right: 0;
  top: 0px;
  font-size: 20px;
  padding: 10px 15px;
  cursor: pointer;
}
.mobile-menu-wrapper.rtl .menu-item-has-children .mean-expand-class {
  position: absolute;
  right: auto;
  left: 0;
  top: 0px;
  font-size: 20px;
  padding: 10px 15px;
  cursor: pointer;
}

.comment-avater.rtl {
  margin-left: 25px;
  margin-right: auto;
}
.commented-on.rtl {
  i {
    margin-right: auto;
    margin-left: 7px;
  }
}
.reply_and_edit.rtl {
  right: auto;
  left: 0;
}
.actions.rtl {
  .btn:last-child {
    margin-right: 15px;
  }
  .btn:first-child {
    margin-right: 0;
  }
  @include xs {
    .btn:last-child {
      margin-right: auto;
    }
    .btn:first-child {
      margin-right: auto;
    }
  }
}
.arrow-margin .slick-arrow {
  @include xs {
    display: none;
  }
}
.form-check-label.rtl::before {
  margin-right: auto;
  margin-left: 15px;
}

.widget_categories.rtl {
  span {
    margin-left: unset;
    margin-right: auto;
  }
}

.testimonialOne.arrow {
  z-index: 9;
}
.scroll-to-top {
  z-index: 999999;
}
/* Base layout for the logo container keeps it vertically centered */
.header-navbar-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* or center if you want centered */
  height: 85%;
}

/* Logo image sizing - flexible and responsive */
.header-navbar-logo .logo-img {
  // width: 190px;        /* desired visual width */
  height: 85px;        /* keep aspect ratio */
  max-width: 150px;   /* prevents it from becoming too tall */
  object-fit: cover;
  display: block;
  margin-top: 0.2rem;       /* default - no extra offset */
  transition: margin-top 0.25s ease, transform 0.25s ease;
}

/* When wrapper has sticky class, apply the scroll offset */
.sticky-wrapper.sticky .header-navbar-logo .logo-img {
  margin-top: 5px;    /* change this value to desired offset on scroll */
  
   height: 80px; 

  
}

/* If the parent has a background color you didn't expect,
   inspect .header-top or .logo-bg and change/remove as needed */
